absl-py==2.1.0
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
attrs==25.1.0
bitarray==2.9.3
blinker==1.8.2
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1711936407380/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1695989934239/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1767500808759/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1696001737800/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click==8.1.7
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorclass==2.2.2
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1736460334667/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1706566000184/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1691009212940/work
contourpy==1.3.1
cryptography==43.0.1
cycler==0.12.1
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
easygui==0.98.3
Flask==3.0.3
flatbuffers==25.2.10
fonttools==4.56.0
frozendict @ file:///Users/runner/miniforge3/conda-bld/frozendict_1763082939603/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
itsdangerous==2.2.0
jax==0.5.1
jaxlib==0.5.1
Jinja2==3.1.4
joblib==1.5.1
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1695397382064/work
kagglehub==0.3.10
kiwisolver==1.4.8
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1711394373090/work/libmambapy
mamba @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1711394373090/work/mamba
MarkupSafe==2.1.5
matplotlib==3.10.1
mediapipe==0.10.21
menuinst @ file:///Users/runner/miniforge3/conda-bld/menuinst_1705068367719/work
ml_dtypes==0.5.1
msoffcrypto-tool==5.4.2
mysql-connector-python==9.3.0
numpy==1.26.4
olefile==0.47
oletools==0.60.2
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opt_einsum==3.4.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pandas==2.3.0
pcodedmp==1.2.6
pdfreader==0.1.15
pillow==10.4.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1706713388748/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1706116770704/work
protobuf==4.25.6
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1696355969704/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pycryptodome==3.21.0
pyparsing==3.1.4
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
quicksand==2.0.13
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1707298382103/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1707314852085/work
scikit-learn==1.7.1
scipy==1.15.2
sentencepiece==0.2.0
six==1.16.0
sounddevice==0.5.1
threadpoolctl==3.6.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1707598593068/work
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1694154605758/work
tzdata==2025.2
tzlocal==5.3.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
Werkzeug==3.0.4
yara-python==4.5.1
zipfile38==0.0.3
zstandard==0.25.0
